<md-card>
  <md-card-header>
    <md-card-title>Search Panel</md-card-title>
    <md-card-subtitle>Search Orders...</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <div fxLayout="row">
          <div fxFlex fxLayoutAlign="space-around">
            <md-input-container>
              <input mdInput placeholder="Sales Order No" [mdAutocomplete]="auto1" [formControl]="salesOrderCtrl">
            </md-input-container>

            <md-autocomplete #auto1="mdAutocomplete">
              <md-option *ngFor="let salesOrder of filteredSalesOrders | async" [value]="salesOrder">
                {{ salesOrder }}
              </md-option>
            </md-autocomplete>
          </div>
          <div fxFlex fxLayoutAlign="space-around">
            <md-input-container>
              <input mdInput placeholder="Sell To Customer No" [mdAutocomplete]="auto2" [formControl]="sellToCusCtrl">
            </md-input-container>

            <md-autocomplete #auto2="mdAutocomplete">
              <md-option *ngFor="let sellToCusNo of filteredSellToCusNumbers | async" [value]="sellToCusNo">
                {{ sellToCusNo }}
              </md-option>
            </md-autocomplete>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex fxLayoutAlign="space-around">
            <md-input-container>
              <input mdInput placeholder="Ship To Customer No" [mdAutocomplete]="auto3" [formControl]="shipToCusCtrl">
            </md-input-container>

            <md-autocomplete #auto3="mdAutocomplete">
              <md-option *ngFor="let shipToCusNo of filteredShipToCusNumbers | async" [value]="shipToCusNo">
                {{ shipToCusNo }}
              </md-option>
            </md-autocomplete>
          </div>
          <div fxFlex>
            <button md-raised-button color="primary" (click)="search()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>

<md-card *ngFor="let result of searchResult" class="search-result-card">
  <md-card-content>
    <div>{{result.salesOrderNo}}</div>
    <div>{{result.sellToCusName}}</div>
    <div>{{result.shipToCusName}}</div>
  </md-card-content>
</md-card>
