md-card {
  margin-top: 20px;
}

.search-result-card {
  background-color: #dcdcdc;
}

.md-chip-header {
  margin-bottom: 20px;
}

.refresh-bg-color {
  background-color: gainsboro;
}

.pad-10-btm {
  padding-bottom: 10px;
}

.pad-5-btm {
  padding-bottom: 5px;
}




